@media print {
	body{
		color: black;
		padding-left: 20px;
		font-family: Helvetica;
		background-color: #D8D8D8;
	}

	.list1 {
		color: blue;
		font-weight: bolder;
		text-align: center;
		width: 100%;
		margin: auto;
		margin-top: 60px;
		list-style: none;
		padding: 0;
	}

	#stages{
		padding-top: 30px;
	}

	.inline{
		position: absolute;
		margin: auto;
		padding: 0;
		display: inline-block;
		width: 128px;
		height: 30px;
		background-color: #6E6E6E;
		color: white;
		padding-top:6px;
	}

	.ideation{
		left: 4px;
		background-color: #A4A4A4;
	}

	.plan{
		left: 132px;
		background-color: #848484;
	}

	.start{
		background-color: #6E6E6E;
		left: 260px;
	}

	.grow{
		left: 386px;
		background-color: #585858;
	}

	.startingnew {
		display: none;
	}

	.projectphase{
		display: none;
	}

	.container h4{
		cursor: pointer;
		background-color: #FFF200;
		text-align: center;
		color: black;
		font-size: 13px;
	}

	.hidden{
		display: none;
	}

	.top{
		position: relative;
		z-index: 2;
	}

	.canvascontainer{
		position: absolute;
		height:auto;
		width:auto;
		max-width: 600px;
		width: 600px;
	}

	#canvas{
		position: absolute;
	}

	#backcanvas{
		position: absolute;
		max-width: 600px;
		width: 600px;
	}

	.sidebar{
		width: 410px;
		padding: 0;
		margin-top: -40px;
		display: inline-block;
		margin-top: 1200px;
	}

	.right{
		display: inline-block;
		vertical-align: top;
		width: 30%;
	}

	.right span{
		font-size: 12pt;
	}

	#right{
		display:none;
	}

	.core{
		color:#FFF200;
		margin-left: 25px;
	}

	.ul li{
		list-style-type: none;
		padding: 2px;
	}

	.description{
		display: inline-block;
		width: 300px;
	}

	.container{
		color: white;
		position: relative;
		padding: 10px;
		background-color: rgba(30, 30, 30, 0.8);
		overflow: hidden;
		width:490px;
		margin-left: 4px;
		font-size: 9pt;
	}

	.container p{
		width: 65%;
	}

	.drop a:link{
		color: #FFF200;
		text-decoration: underline;
		font-weight: bold;
		font-size: 11pt;
		margin-left: 30px;
	}

	.drop a:hover{
		color:red;
	}

	.group: after {
	  content: "";
	  display: table;
	  clear: both;
	}

	.oneWide{
		width: 125px;
	}

	.twoWide{
		width: 255px;
	}

	.threeWide{
		width: 380px
	}

	.fourWide{
		width: 510px;
	}

	.colOne{
		margin-left: -10px;
	}

	.colTwo{
		margin-left: 120px;
	}

	.colThree{
		margin-left: 245px;
	}

	.colFour{
		margin-left: 375px;
	}

	#disclaimer{
		width: 480px;
		margin-left: 4px;
		padding : 15px;
		background-color: rgba(30, 30, 30, 0.8);
		color: black;
	}

	.formLabel{
		display: inline-block;
		width: 150px;
		margin: 5px;
		vertical-align: top;
	}

	.title{
		text-decoration: underline;
		font-size: 15pt;
	}

	.text{
		width: 206px;
	}

	.checkboxPeople{
		width: 400px;
		text-align: right;
	}

	.checkboxPeople span{
		display: inline-block;
		width: 200px;
	}

	.checkboxActivities{
		width: 400px;
		text-align: right;
	}

	.checkboxActivities span{
		display: inline-block;
		width: 200px;
	}

	.submitButton{
		margin-left: 195px;
	}

	.addField{
		margin-left: 195px;
	}

	.wrapper{
		margin: 0;
		padding: 0;
		display: inline-block;
	}

	.charNumService{
		margin-right: 10px;
		color: red;
	}

	input{
		margin-bottom: 5px;
	}

	.line{
		padding: 5px;
		display: inline-block;
		width: 400px;
		margin-bottom: 5px;
	}

	.error{
		color: red;
		margin-left: 10px;
	}

	.info{
		width: 1%;
		height: 1%;
		vertical-align: top;
		margin-top: 5px;
	}

	.editBtn{
		margin-right: 5px;
	}

	.btn{
		margin: 5px;
	}

	.buttonContainer{
		display:none;
	}

	.listPage{
		margin: 15px;
		margin-left: 180px;
	}

	.remove_field{
		margin-left: 10px;
		text-decoration: none;
		color:blue;
	}

	.remove_field:hover{
		color:red;
	}

	.span{
		margin:0;
		text-align: top;
		margin-top:3px;
	}

	.heading{
		color:#FFF200;
		margin-left: 30px;
	}

	.logo{
		display:none;
	}

	.grey {
		color: #A4A4A4;
	}

	#footer{
		display:none;
	}

	.stagebar{
		position: absolute;
		left:251px;
		top:251px;
		width: auto;
		height: auto;
		max-width: 98px;
	}

	.ideaStage{
		top:285px;
		left:345px;
		width: auto;
		height: auto;
		max-width: 72px;
	}

	.planStage{
		top:285px;
		left:414px;
		width: auto;
		height: auto;
		max-width: 64px;
	}

	.startStage{
		top:285px;
		left:477px;
		width: auto;
		height: auto;
		max-width: 64px;
	}

	.growStage{
		top:285px;
		left:538px;
		width: auto;
		height: auto;
		max-width: 63px;
	}
}